<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
<link rel="stylesheet" href="/css/bootstrap.min">
</head>
<body>
    <h1>Contact Form</h1>
    <form action="/contact" method="POST">
        <div class="form-group">
        <input type="text" name="name" placeholder="Please Enter your name" class="form-control">
    </div><br>
    <div class="form-group">
        <input type="text" name="subject" placeholder="Please Enter Email subject" class="form-control">
    </div><br>

    <div class="form-group">
        <input type="email" name="email" placeholder="Please Enter your email" class="form-control">
    </div><br>
    <div class="form-group">
  <textarea name="message"  cols="30" rows="10" class="form-control" ></textarea>
        </div><br>
    <input type="submit" class="btn btn-primary" value="Send Message">
    </form>
</body>
</html>